/* Hero */
.hero-wrap {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    align-items: center;
}

.hero-counter {
    display: inline-flex;
    gap: 8px;
    padding: 4px 16px;
    margin-bottom: 16px;
    align-items: center;

    background: var(--accent-dim);
    border: 1px solid var(--accent-border);
    border-radius: 100px;

    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--accent);
}

.hero-counter-dot {
    width: 6px;
    height: 6px;

    background: var(--accent);
    border-radius: 100%;

    animation: flash 2s ease infinite;
}

.hero-content h1 {
    font-size: clamp(2rem, 4.5vw, 3.5rem);
}

.hero-content h1 span {
    color: var(--accent);
}

.hero-content p {
    max-width: 475px;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.hero-wrap img {
    width: 100%;
    aspect-ratio: 1 / 1;

    border-radius: var(--radius);
}

@keyframes flash {

    from,
    to {
        opacity: 25%;
    }

    25%,
    75% {
        opacity: 100%;
    }
}

@media (max-width: 750px) {
    .hero-wrap {
        grid-template-columns: 1fr;
    }

    .hero-wrap img {
        display: none;
    }
}

/* Reviews */
.reviews-wrap {
    width: 100%;
    padding: 24px;
    overflow: hidden;

    background: var(--bg2);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.reviews {
    display: flex;
    gap: 12px;
    width: max-content;

    animation: scroll 40s linear infinite;
}

.reviews:hover {
    animation-play-state: paused;
}

.review-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    padding: 16px;

    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-user {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--text);
}

.review-stars,
.review-user span {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #FA0;
}

.review-text,
.review-text a {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--text2);
}

.review-text a {
    font-weight: 450;
    text-decoration: underline;
    text-underline-offset: 2px;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-25%);
    }
}

/* Modal */
.modal-background {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    inset: 0;
    z-index: 999;

    background: #0005;
    backdrop-filter: blur(4px);

    animation: fadeIn 0.25s ease forwards;
}

.modal {
    width: 100%;
    max-width: 400px;
    padding: 32px;

    background: var(--bg);
    box-shadow: 0 0 64px #0004;
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.modal h2 {
    margin-bottom: 10px;

    font-size: 1.2rem;
}

.modal p {
    font-size: 0.9rem;
}

.modal-subtitle {
    margin-bottom: 15px;

    font-size: 0.75rem !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--text3);
}

.modal div {
    margin-bottom: 20px;
    padding: 12px;

    background: var(--bg2);
    border: 1px solid var(--border);
    border-radius: var(--radius);

    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text2);
}

.modal button {
    width: 100%;
    padding: 12px;

    background: var(--accent);
    border: none;
    border-radius: var(--radius);

    font-weight: 700;
    color: #fff;

    cursor: pointer;
}

.modal button:hover {
    opacity: .75;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#announcement-bar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 20px;
    background: #1e293b;
    color: white;
    font-size: 14px;
    gap: 12px;
}

.announcement-btn {
    padding: 6px 12px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;

    transition: 0.2s ease;
}

.announcement-btn:hover {
    background: #38bdf8;
    border-color: #38bdf8;
    color: #000;
}

#announcement-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    text-align: center;
}

/* the underline line */
#announcement-text::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
}


